@import './base.css';
@import './mixin.scss';
@import './variables.scss';


// table implementation
#table {
    display: table;
    padding: 5px;
	// can't add gap. won't work
	@extend .wMarg;
	.tr {
		display: table-row;
		padding: 5px;
	}
	.td {
		display: table-cell;
		width: 150px;
		margin: 5px;
		@extend .cell-style;		
	}
}

// flex implementation
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	@extend .wMarg;
	.f-child {
		@extend .cell-style;
		flex: 1;
	}
	.f-child:nth-child(odd) {
		// flex-grow: 0;     /* do not grow   - initial value: 0 */
		// flex-shrink: 0;   /* do not shrink - initial value: 1 */
		// flex-basis: 200px; /* width/height  - initial value: auto */
		flex: 0 0 200px;
	}
}

// grid implementation
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	@extend .wMarg;
	.g-child {
		@extend .cell-style;
	}
}

// float implementation - difficult to maintain, sometimes need to use a clearfix class to fix float issue
.l {
	float: left;
}
.r {
	float: right;
}
/* .float-item:nth-child(even) {
	margin: auto 5px;
} */

.cell-style {
	background-color: $primary-color;
	border: 1px solid $dark;
	padding: 15px;
	text-align: center;
	@include textFormats(25px, 500);
}
.wMarg {
	width: 90%;
	margin: 0 auto;
	gap: 5px;
}

.arrow-btn {
  @include position(auto, auto, 25px, 50%);
  transform: translateX(-50%);
  border: 5px solid $primary-color;
  opacity: 0.5;
  border-radius: 50%;
  box-shadow: 3px 6px 12px 7px rgba(0,0,0,0.58);
  background: #444444b8;
  width: 65px;
  height: 65px;
  cursor: pointer;
  p {
    color: $primary-color;
    font-size: 40px;
    margin: 0;
    padding-top: 4px;
    text-align: center;
  }

  &:hover {
    background: #1d1c1cb8;
    transition: all 1s;
  }
}