@mixin gradientFont($gradient) {
  background-color: #f3ec78;
  background-image: $gradient;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@mixin position($top, $right, $bottom, $left, $type: absolute) {
  position: $type;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin bgImgConfig($bgImg, $attachment: fixed, $gradient: none, $size: cover, $position: center) {
  @if $gradient == none {
    background-image: $bgImg;
  } @else {
    background-image: $gradient, $bgImg;
  }
  background-size: $size;
  background-position: $position;
  background-attachment: $attachment;
}